.react-datepicker__input-container input {
    border: none;
    box-shadow: none;
    outline: none;
    padding: 10px 10px;
    color: rgb(156, 156, 156);
    font-size: 12px;
    font-weight: 600;
  }
  
  .react-datepicker {
    border: none;
    box-shadow: none;
    outline: none;
  }
  
  .react-datepicker__header {
    background: rgb(255, 255, 255);
    border-bottom: none;
    border: none;
    outline: none;
  }
  
  .react-datepicker__time-container {
    outline: none;
    display: none;
    border: none;
    color: rgb(156, 156, 156);
  }
  
  .react-datepicker__month-container {
    border: none;

  }